* {
  /* CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f4f7f8;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.main-container {
  margin: 0 auto;
  width: 70%;
  padding-top: 5rem; /* Same as nav height */
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  margin: 0.8rem 0;
}

a {
  font-size: 1.6rem;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

button {
  background-color: #646cff;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #535bf2;
}

.sub-menu {
  display: flex;
  align-items: center;
  height: 4rem;
}

.sub-menu a,
.sub-menu button {
  margin-right: 3rem;
}

.sub-menu button,
.start-view button {
  background: none;
  border: none;
  padding: 0;
  font: inherit; /* Kanske ändra */
  color: #646cff;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 1.6rem;
}

.sub-menu button:hover,
.start-view button:hover {
  color: #535bf2;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 5rem;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: #333;
  color: #fff;
  padding: 0 8% 0 3%;
}

nav button {
  margin: 0;
}

.nav-links {
  /* margin: 0rem 10rem 0rem 40rem; */
  margin: 0 5% 0 10%;
  /* min-width: 70rem; */
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  color: #f4f7f8;
  font-size: 1.3rem;
}

.nav-links a:hover {
  color: #c3cbcf;
}

nav img {
  display: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 1.5rem;
}

select:focus,
select:focus-visible,
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: 2px solid #535bf2;
}

p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.start-view {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-view h1 {
  font-size: 10rem;
  margin: 0 0 3rem 0;
}

.start-view-choices {
  width: 22rem;
  display: flex;
  justify-content: space-between;
}

.box {
  margin: auto;
  margin-top: 1rem;
  width: 55vw;
  padding: 5rem 0;
  border: 2px solid #e1e0e0;
  border-radius: 2rem;
  background-color: rgba(211, 211, 211, 0.3);
}

.login,
.register {
  margin: auto;
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login div,
.register div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login h1,
.register h1 {
  margin: auto;
}

.login label,
.register label {
  font-size: 1.5rem;
}

.login input,
.register input,
.login select,
.register select {
  height: 2.5rem;
  border: none;
  border-radius: 0.4rem;
}

input {
  min-width: 19rem;
  margin-left: 1rem;
}

select {
  min-width: 19rem;
}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  align-items: center;
  background-color: #cce5ff;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 0rem 2rem 2rem 0rem;
}

.item p {
  margin-bottom: 0;
}

.item button {
  background-color: inherit; /* Default background */ /* Kanske ta bort */
  transition: background-color 0.2s ease-in-out; /* Smooth effect */
  font-size: 0.8rem;
  color: #333;
  margin-bottom: 0;
  margin-left: 1rem;
}

.item button:hover {
  background-color: var(--hover-bg-color);
}

.sub-section {
  min-height: 5rem;
  padding: 1rem 0;
  border-bottom: 1px solid #e1e0e0;
}

.separate-data {
  width: 50rem;
  display: flex;
  justify-content: space-between;
}

.separate-data-second-variable {
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basic-user {
  margin: 2.5rem 0;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  max-width: 40%;
  padding: 1rem 1rem 0 1rem;
  /* padding: 1rem; */
  border-radius: 0.8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message-left {
  align-self: flex-start;
  background-color: #eee;
}

.message-right {
  align-self: flex-end;
  background-color: #cce5ff;
}

.conversation-view textarea {
  width: 40rem;
  height: 12rem;
}

.confirm-or-cancel {
  width: 40rem;
  display: flex;
  justify-content: space-between;
}

.public-board-view textarea {
  width: 40rem;
  height: 12rem;
}

.public-board-view input {
  width: 40rem;
  margin: 0;
}

.interests-view input {
  width: 40rem;
  height: 3rem;
  margin: 0 0 0.7rem 0;
}

.label-and-input-public-board {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

.my-profile-view textarea {
  width: 40rem;
  height: 12rem;
}

.error-message {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.write-new {
  margin-top: 2rem;
}

.hamburger-menu-open {
  display: none;
}

@media (max-width: 1150px) {
  html {
    font-size: 8px;
  }

  .login,
  .register {
    width: 60%;
  }

  .login input,
  .login select,
  .register input,
  .register select {
    width: 70%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 6px;
  }

  .main-container {
    width: 80%;
  }

  .login label,
  .register label {
    font-size: 1.3rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 5px;
  }

  .main-container {
    width: 85%;
  }
}

@media (max-width: 550px) {
  .main-container {
    width: 90%;
  }

  .nav-links {
    display: none;
  }

  nav > button {
    display: none;
  }

  nav img {
    display: block;
    width: 3rem;
  }

  nav img:hover {
    cursor: pointer;
  }

  .hamburger-menu-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f4f7f8;
    display: flex;
    flex-direction: column;
    z-index: 2000;
    padding: 0 3rem;
  }

  .hamburger-menu-open a {
    color: #333;
    font-size: 3rem;
  }

  .button-to-the-right {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;
  }

  .button-to-the-right button {
    background-color: inherit;
    color: #333;
    font-size: 3rem;
    padding-right: 0;
  }

  .mobile-view-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-view-links a {
    border-top: 1px solid #e1e0e0;
    padding: 2rem 0;
  }

  #mobile-view-logout {
    border-top: 1px solid #e1e0e0;
  }

  .box {
    width: 100%;
    padding: 5rem 0;
    border-radius: 1rem;
  }

  .login,
  .register {
    width: 75%;
    gap: 4rem;
  }

  .login label,
  .register label {
    font-size: 2rem;
  }

  .login input,
  .register input,
  .login select,
  .register select {
    height: 4rem;
    width: 75%;
  }
}

@media (max-width: 450px) {
  .register input,
  .register select {
    width: 60%;
  }
}

@media (max-width: 300px) {
  .login input,
  .login select {
    width: 65%;
  }
}
